* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #272727;
    display: grid;
    grid-template-areas: 
    "logo . redes "
    "logo menu menu";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100vh;
}

.headerLogoImprenta {
    grid-area: logo;
}

.headerLogos {
    grid-area: redes;
}

.generalNav {
    grid-area: menu;
}

.barraNav {
    display: flex;
    flex-direction: row;
}

a{
    display: inline;
    color: #ffffff;
    list-style: none;
    text-decoration: none;
    font-family: 'M PLUS 1 Code', sans-serif;
    text-shadow: 0px 0px 23px rgba(255,255,255,1);
    font-size:x-large;
}