/* HEADER */

header {
    background-color: #272727;
    display: grid;
    grid-template-areas: 
        "logo logo . redes"
        "logo logo menu menu ";

    .headerLogoImprenta {
      grid-area: logo;
    }
      
    .headerLogos {
        grid-area: redes;
         display: flex;
         justify-content: space-around;
         padding-top: 15px;
    }

    .generalNav {
        grid-area: menu;

        .barraNav {
            display: flex;
            justify-content: space-around;
            list-style: none;
                
            a {
                text-decoration: none;
                color: #ffffff;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                font-size: x-large;
                &:hover {
                    color: orangered;
                }

            }

        }

    }
    
}

/* MAIN ACERCA DE */

.mainAcerca {
    background-image: linear-gradient(#f5d182, white);
    display: flex;
    justify-content: center;

    .textoAcerca {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-style: italic;
        padding: 25px;
        text-align: center;
        font-size: large;
    }

}

/* FOOTER */

footer {
    background-color: #272727;
    display: grid;
    grid-template-areas: "links links logo info info";
    justify-content: space-around;
    align-items: center;

    .linksFooter {
        grid-area: links;
        display: flex;
        justify-content: space-around;
        list-style: none;

        a {
            text-decoration: none;
            color: #ffffff;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: medium;

            &:hover {
                color: orangered;
            }

        }
        
    }

    .imgFooter {
        grid-area: logo;
        width: 150px;
    }

    .footerTextoDos {
        grid-area: info;
        color: #ffffff;
    }

}


